<h1>Welcome! fill out the form below to sign up!</h1>
<div>
  <ul>
    <form action="/signup" method="post">
    <li>
      <label for="username">Username: </label>
      <input type="text" name="username" id="username">
    </li>
    <li>
      <label for="email">Email: </label>
      <input type="email" name="email" id="email">
    </li>
    <li>
      <label for="password">Password: </label>
      <input type="password" name="password" id="password">
    </li>
      <input type="submit"  name="submit" value="submit">
    </li>
    </form>
  </ul>
</div>