<h2>Login to Fwitter!</h2>

<form method="post" action="/login">
    <label for="username">User Name:</label>
    <input type="text" name="username">
    <br>
    <label for="password">Password:</label>
    <input type="text" name="password">

    <input type="submit" id="submit">
</form>