<h1> Please Sign Up below </h1>

<form action='/signup' method='POST'>
    <h2>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username">
    </h2>

  <h2>
    <label for="email">Email: </label>
    <input type="email" name="email" id="email">
  </h2>

  <h2>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
  </h2>

  <button type="submit" id="signup">Sign Up</button>

</form>